
#checkingBar {
    height: 50px;
    width: 100%;
    padding-bottom: 50px;
}

#checkingBar ul{
    margin: 30px 5%;
    display: flex;
    background-color: rgba(0, 0, 0, .2);;
    align-items: center;
    justify-content: space-around; 
}

#checkingBar ul li{
    padding: 0 5px;
}

#checkingBar ul li:hover{
    transition: 0.5s;
    background-color: white;
    cursor :pointer;
}

.products-row{
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-left: 2.5%;
    margin-bottom: 30px;
}

div .productBlock {
    border:1px solid #000;
    width: 20%;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .5);
    transition: all 0.5s;
    font-size: 26px;
    font-weight: bold;
}
div .productBlock:hover,
div .productBlock:focus {
    transform: scale(1.1);
}
    
.productBlock div .image-section {
    max-height: 250px;
    width: 100%;
    margin-top: 10px;
}
    
.priceSection {
    letter-spacing: 2px;
    margin: 5px 0;
}
    
.buy-button {
    height: 30px;
    width: 40%;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    transition: all 0.5s;
    background-color: red;
    color: #fff;
}
    
.buy-button:hover,
.buy-button:focus {
    transform: scale(1.1);
}